<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSlotPageServlet</servlet-name>
        <servlet-class>controller.BookSlotPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSlotServlet</servlet-name>
        <servlet-class>controller.BookSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentPageServlet</servlet-name>
        <servlet-class>controller.PaymentPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>controller.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketCheckerLoginServlet</servlet-name>
        <servlet-class>controller.TicketCheckerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketCheckerDashboardServlet</servlet-name>
        <servlet-class>controller.TicketCheckerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScanTicketServlet</servlet-name>
        <servlet-class>controller.ScanTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyTicketServlet</servlet-name>
        <servlet-class>controller.VerifyTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTicketCheckerServlet</servlet-name>
        <servlet-class>controller.AddTicketCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicketCheckerServlet</servlet-name>
        <servlet-class>controller.EditTicketCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleTicketCheckerStatusServlet</servlet-name>
        <servlet-class>controller.ToggleTicketCheckerStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketCheckerListServlet</servlet-name>
        <servlet-class>controller.TicketCheckerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <servlet-class>controller.BookingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveBookingServlet</servlet-name>
        <servlet-class>controller.ActiveBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyVehiclesServlet</servlet-name>
        <servlet-class>controller.MyVehiclesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>controller.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleServlet</servlet-name>
        <servlet-class>controller.EditVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <servlet-class>controller.DeleteVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboardServlet</servlet-name>
        <servlet-class>controller.UserDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingListServlet</servlet-name>
        <servlet-class>controller.BookingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingAreaListServlet</servlet-name>
        <servlet-class>controller.ParkingAreaListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTicketCheckerServlet</servlet-name>
        <servlet-class>controller.FetchTicketCheckerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSlotPageServlet</servlet-name>
        <url-pattern>/BookSlotPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSlotServlet</servlet-name>
        <url-pattern>/BookSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentPageServlet</servlet-name>
        <url-pattern>/PaymentPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/TicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketCheckerLoginServlet</servlet-name>
        <url-pattern>/TicketCheckerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketCheckerDashboardServlet</servlet-name>
        <url-pattern>/TicketCheckerDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScanTicketServlet</servlet-name>
        <url-pattern>/ScanTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyTicketServlet</servlet-name>
        <url-pattern>/VerifyTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTicketCheckerServlet</servlet-name>
        <url-pattern>/AddTicketCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicketCheckerServlet</servlet-name>
        <url-pattern>/EditTicketCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleTicketCheckerStatusServlet</servlet-name>
        <url-pattern>/ToggleTicketCheckerStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketCheckerListServlet</servlet-name>
        <url-pattern>/TicketCheckerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <url-pattern>/BookingHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveBookingServlet</servlet-name>
        <url-pattern>/ActiveBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyVehiclesServlet</servlet-name>
        <url-pattern>/MyVehiclesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/AddVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleServlet</servlet-name>
        <url-pattern>/EditVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <url-pattern>/DeleteVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboardServlet</servlet-name>
        <url-pattern>/UserDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingListServlet</servlet-name>
        <url-pattern>/BookingListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingAreaListServlet</servlet-name>
        <url-pattern>/ParkingAreaListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTicketCheckerServlet</servlet-name>
        <url-pattern>/FetchTicketCheckerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
