<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>securevault.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>securevault.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>securevault.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadEncryptServlet</servlet-name>
        <servlet-class>securevault.UploadEncryptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptServlet</servlet-name>
        <servlet-class>securevault.DecryptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppContextListener</servlet-name>
        <servlet-class>securevault.AppContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareFileServlet</servlet-name>
        <servlet-class>securevault.ShareFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShareStatusServlet</servlet-name>
        <servlet-class>securevault.UpdateShareStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadStegoServlet</servlet-name>
        <servlet-class>securevault.DownloadStegoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptSharedServlet</servlet-name>
        <servlet-class>securevault.DecryptSharedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>securevault.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadEncryptServlet</servlet-name>
        <url-pattern>/UploadEncryptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptServlet</servlet-name>
        <url-pattern>/DecryptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppContextListener</servlet-name>
        <url-pattern>/AppContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareFileServlet</servlet-name>
        <url-pattern>/ShareFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShareStatusServlet</servlet-name>
        <url-pattern>/UpdateShareStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadStegoServlet</servlet-name>
        <url-pattern>/DownloadStegoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptSharedServlet</servlet-name>
        <url-pattern>/DecryptSharedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
